body{
    background: rgb(241, 241, 241);
}
.all{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background: white;
    padding: 20px 40px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: fit-content;
}

.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.auth-container textarea{
    width: 100%;
    margin-bottom: 100px;
 }

.auth-container button {
    width: 107%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.auth-container button:hover {
    background: #218838;
}

.auth-container p {
    margin-top: 10px;
    font-size: 14px;
}

.auth-container a {
    color: #007bff;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}
