<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Wisely: Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Allmessage.css') }}">
    <script src="{{ url_for('static', filename='Javascript/allmessage.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon.png') }}">

</head>
<body>
        <!-- Flash Messages -->
        <div class="message">    
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            </div>
            <div class="all">
                <div class="auth-container">
            
                    <h2>Contact Us</h2>
                    <form method="POST" action="{{ url_for('contact_us') }}">
                            <input type="text" name="name" placeholder="Full Name" required>
            
                            <input type="number" name="number" placeholder="Phone Number" required>
            
                            <input type="email" name="email" placeholder="Enter Email" required>
            
                            <textarea name="message" placeholder="Type your message here..." rows="4" cols="200" style="max-width: 315px;"></textarea>            
                            <br><button type="submit">Submit</button>
                        </form>            
                        <br>
                        <a href="{{ url_for('default') }}">Back to Home</a>
                          </div>
                    </div>
            
</body>
</html>


